/* HEADER */

header {
    height: 230vh;
}

header h1 {
    line-height: 1.3;
}

.tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile {
    width: 90%;
}

/* SERVICES */

.services {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 70px;
}

.services-title {
    font-size: 3.5rem;
    line-height: 1.2;
    margin: 0 auto;
    width: 70%;
}
.services-description {
    width: 100%;
    margin-top: 30px;
}
.services-tile {
    width: 50%;
    height: 40vh;
}